---
import Layout from "../layouts/BlogPost.astro";
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
---

<Layout
  title="Some Old About Me's"
  description="about me page - out of date"
  pubDate={new Date("July 14 2025")}
  heroImage={AboutHeroImage}
>

  <h5>Pre-data engineering ~2022</h5>
  <p>
    I’m a data scientist at IBM where I currently work on analysis projects related to healthcare and hospital utilization. My background is in environmental science where I have worked on a broad set of projects related to human impacts on the environment, fisheries, and food systems.
  </p>


  <h5>Back when I was a researcher ~2020</h5>
  <p>Hello, I am a researcher at the National Center for Ecological Analysis and Synthesis. I work on food systems with a focus on fisheries and human impacts on marine environments.</p>

<p>You can take a look at some of the work I do here or peep the publications tab:</p>
<ul>
  <li>
    <a href="https://www.frontiersin.org/articles/10.3389/fmars.2020.612831/full">
      What does the species coverage of marine conservation datasets look like?
    </a>
  </li>
  <li>
    <a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/faf.12541">
      Can lab-grown meat have a conservation impact on wild fish stocks?
    </a>
    <ul>
      <li>
        If so, which species maximize market share yet are also experiencing overfishing? 
        <a href="https://emlab-ucsb.shinyapps.io/clean-seafood-conservation-species-table/">
          (we have an app for that)
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href="https://aslopubs.onlinelibrary.wiley.com/doi/abs/10.1002/lno.11674">
      How exactly does kelp utilize ambient urea as a source of nitrogen?
    </a>
  </li>
</ul>


  
</Layout>
