---
import Layout from "../layouts/Publications.astro";
import PublicationCard from "../components/cards/PublicationCard.astro";
---

<Layout
  title="Publications"
  description="My published papers"
  pubDate={new Date("August 08 2021")}
>
  <h2>Human Impact Mapping</h2>
  <PublicationCard
    title="Substantial Gaps in the Current Fisheries Data Landscape"
    authors="Blasco, Gordon D., Danielle M. Ferraro, Richard S. Cottrell, Benjamin S. Halpern, and Halley E. Froehlich."
    journal="Frontiers in Marine Science, 2020"
    paperUrl="https://www.frontiersin.org/journals/marine-science/articles/10.3389/fmars.2020.612831/full"
    vizUrl="https://emlab-ucsb.shinyapps.io/clean-seafood-conservation-species-table/"
  />

  <h2>Food Systems</h2>
  <PublicationCard
  title="Historical Food Consumption Declines and the Role of Alternative Foods"
  authors="Ferraro, Danielle M., Richard S. Cottrell, Gordon D. Blasco, Halley E. Froehlich, and Benjamin S. Halpern"
  journal="Environmental Research Letters 17, no. 1 (January 1, 2022)"
  paperUrl="https://doi.org/10.1088/1748-9326/ac4072"
    vizUrl="https://content.cld.iop.org/journals/1748-9326/17/1/014020/revision2/erlac4072f5_hr.jpg"
  />


<PublicationCard
  title="Mapping the Spatial Distribution of Global Mariculture Production"
  authors="Clawson, Gage, Caitlin D. Kuempel, Melanie Frazier, Gordon Blasco, Richard S. Cottrell, Halley E. Froehlich, Marc Metian, et al."
  journal="Aquaculture 553 (May 2022)"
  paperUrl="https://doi.org/10.1016/j.aquaculture.2022.738066"
/>

<PublicationCard
  title="Mapping Global Inputs and Impacts from of Human Sewage in Coastal Ecosystems"
  authors="Tuholske, Cascade, Benjamin S. Halpern, Gordon Blasco, Juan Carlos Villasenor, Melanie Frazier, and Kelly Caylor"
  journal="PLOS ONE (n.d.)"
/>

<PublicationCard
  title="Substantial Gaps in the Current Fisheries Data Landscape"
  authors="Blasco, Gordon D., Danielle M. Ferraro, Richard S. Cottrell, Benjamin S. Halpern, and Halley E. Froehlich"
  journal="Frontiers in Marine Science 7 (December 17, 2020)"
  paperUrl="https://doi.org/10.3389/fmars.2020.612831"
/>

<PublicationCard
  title="The Search for Blue Transitions in Aquaculture‐dominant Countries"
  authors="Cottrell, Richard S., Danielle M. Ferraro, Gordon D. Blasco, Benjamin S. Halpern, and Halley E. Froehlich"
  journal="Fish and Fisheries (April 29, 2021)"
  paperUrl="https://doi.org/10.1111/faf.12566"
/>

<PublicationCard
  title="The Overlooked Importance of Food Disadoption for the Environmental Sustainability of New Foods"
  authors="Cottrell, Richard S., Jason Maier, Danielle M. Ferraro, Gordon D. Blasco, Roland Geyer, Halley E. Froehlich, and Benjamin S. Halpern"
  journal="Environmental Research Letters 16, no. 10 (October 1, 2021)"
  paperUrl="https://doi.org/10.1088/1748-9326/ac269c"
/>

<PublicationCard
  title="The Long and Narrow Path for Novel Cell‐based Seafood to Reduce Fishing Pressure for Marine Ecosystem Recovery"
  authors="Halpern, Benjamin S., Jason Maier, Heather J. Lahr, Gordon Blasco, Christopher Costello, Richard S. Cottrell, Olivier Deschenes, et al."
  journal="Fish and Fisheries (February 8, 2021)"
  paperUrl="https://doi.org/10.1111/faf.12541"
/>

<PublicationCard
  title="Factors Influencing Urea Use by Giant Kelp (Macrocystis Pyrifera, Phaeophyceae)"
  authors="Smith, Jason M., Gordon Blasco, Mark A. Brzezinski, John M. Melack, Daniel C. Reed, and Robert J. Miller"
  journal="Limnology and Oceanography (December 22, 2020)"
  paperUrl="https://doi.org/10.1002/lno.11674"
/>
</Layout>